<div class="attachment">
  {{fa-icon "file"}}
  <a href={{attachment.href}}>{{attachment.title}}</a>
  <span class="badge badge-primary">{{attachment.lang}}</span>
  {{#if isSuppliment}}
    <span class="badge badge-secondary">Suppliment</span>
  {{/if}}
</div>