$theme-colors: (
  "primary" : purple
);
$thumbnail-width: 128px;

@import "../../node_modules/bootstrap/scss/bootstrap";

aside.filters .toggle {
  display: none;
}
img {
  &.thumbnail {
    max-width: $thumbnail-width;
    height: auto;
  }
  &.large-thumbnail {
    width: auto;
    height: auto;
  }
  &.placeholder {
    content: url('/assets/image_placeholder.gif');
  }
}
.result-thumbnail{
  display: flex;
  justify-content: center;
}
/*makes heading elements slightly smaller*/
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.4rem;
}
/*centering content vertically*/
.vertical-center {
  display:flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}
/*reduce font sizes on facet filter texts*/
.search-filter-item, .show-more {
  font-size: 0.9rem;
}
/*styling for displaying an array as csv content*/
.csv {
  padding: 0;
  display: inline;
  list-style: none;
  li {display: inline};
  li:not(:last-of-type) {
    &.text:after, &.links > a:after {content: ', ';}
  }
}
/*adds underline to active fuzzy search option */
.fuzzy-search-links a.active {
  color: black;
  text-decoration: underline;
}
/*makes issue cards the correct size*/
.issue-card {
  min-width: $thumbnail-width;
  max-width: $thumbnail-width;
  margin-bottom: 15px;
  margin-top: 15px;
}
/*makes entire card into a hyperlink. Use with an anchor that is the direct child of the card*/
a.card-link {
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.card.card-link {
  &:hover{
    @extend .border-primary;
  }
}
@include media-breakpoint-down(md) {
  aside.filters, .title, .search-bar, .body-content {
    min-width: 100%;
  }
  aside.filters .search-filters {
    display: none;
    &.visible{display:block;}
  }
  aside.filters .toggle {
    display:block;
  }
}
